input {
  all: unset;
}

.box {
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f5f2;
  overflow: hidden;
}

.box .signin {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f1f5f2;
  border-color: #e4cfe5;
}

/* header style */
.box .header {
  position: relative;
  width: 100%;
  top: 0;
  background: url('/app/Front/img/header.svg') no-repeat center bottom;
  background-size: cover;
}

.box .header-text {
  position: relative;
  width: 263px;
  left: 50%;
  font-family: "Koh Santepheap-Regular", Helvetica;
  font-weight: 400;
  color: #3e3a3a;
  font-size: 128px;
  letter-spacing: 0;
  text-align: center;
  line-height: normal;
  transform: translate(-50%);

}

/* header style end*/

/* main style */
.box .main {
  position: absolute;
  width: 100%;
  top: 30%;
  justify-content: center;
  align-items: center;
}

.box .input-group {
  width: 100%;
  max-width: 846px;
  height: 90px;
  background-color: #cfe1e5;
  border-radius: 209px;
  border-color: #777f81;
  display: flex;
  align-items: center;
}

.box .div {
  position: relative;
  width: 100%;
  max-width: 848px;
  left: 50%;
  margin-top: 1%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
}

.box .input-text {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #6f6767;
  font-size: 1.5rem;
  margin-left: 160px;
}

.box .email-icon {
  position: absolute;
  width: 69px;
  height: 74px;
  left: 50px;
  object-fit: cover;
}

.box .password-icon {
  position: absolute;
  width: 74px;
  height: 66px;
  left: 43px;
}

.box .main-button {
  position: relative;
  width: 100%;
  height: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .signin-button,
.box .signup-button {
  position: relative;
  width: 100%;
  max-width: 416px;
  height: 90px;
  margin-top: 1%;
  bottom: 0px;
  z-index: 1;
  background-color: #777f81;
  border-radius: 209px;
  border-color: #bfcacd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .signup-button {
  margin-left: 10px;
}

.box .button-text {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

/* main style end */

/* footer Style */
.box .footer {
  position: fixed;
  width: 100%;
  height: 412px;
  bottom: 0;
  left: 0;
}

.box .footer_wave {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  margin-bottom: -7px;
  min-height: 30%;
  max-height: 90%;
}

.box .footer_text {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #3e3a3a;
  font-size: 40px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*end*/

@media (max-width: 768px) {

  .header-text {
    height: 10rem;
  }

  .box .div {
    width: 32rem;
    margin-top: 3%;
  }

  .box .signin-button,
  .box .signup-button {
    width: 16rem;
  }

  .box .input-text,
  .box .button-text {
    font-size: 1.1rem;
  }

  .waves {
    height: 40px;
    min-height: 40px;
  }
}