html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;/**/
}

.box {
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f5f2;
  overflow: hidden;
}

.box .signin {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f1f5f2;
  border-color: #e4cfe5;
}

/* header style */
.box .header {
  position: relative;
  width: 100%;
}

.box .div-wrapper {
  position: absolute;
  width: 100%;
}

.box .header-text {
  position: relative;
  width: 263px;
  top: 50%;
  left: 50%;
  font-family: "Koh Santepheap-Regular", Helvetica;
  font-weight: 400;
  color: #3e3a3a;
  font-size: 128px;
  letter-spacing: 0;
  text-align: center;
  line-height: normal;
  transform: translate(-50%, -50%);
}

/* Responsive Header Text */
@media (max-width: 768px) {
  .box .header-text {
    font-size: 64px;
  }
}
/* header style end*/

/* main style */
.box .main {
  position: absolute;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: center;
  border: 1px solid red
}

.box .div {
  position: relative;
  width: 100%;
  max-width: 846px;
  height: 114px;
  background-color: #cfe1e5;
  border-radius: 209px;
  border: 1px solid;
  border-color: #777f81;
}

.box .email-group {
  position: absolute;
  width: 100%;
  max-width: 848px;
  height: 114px;
  left: 50%;
  transform: translateX(-50%);
}

.box .email-text {
  width: 100%;
  max-width: 439px;
  position: absolute;
  top: 37px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #6f6767;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.box .email-icon {
  position: absolute;
  width: 69px;
  height: 74px;
  top: 20px;
  left: 50px;
  object-fit: cover;
}

.box .password-group {
  position: absolute;
  width: 100%;
  max-width: 848px;
  height: 114px;
  margin-top: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;

}

.box .password-text {
  width: 100%;
  max-width: 455px;
  position: absolute;
  top: 37px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #6f6767;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.box .password-icon {
  position: absolute;
  width: 74px;
  height: 66px;
  top: 20px;
  left: 43px;
  object-fit: cover;
}

.box .signin-button {
  position: absolute;
  width: 100%;
  max-width: 418px;
  height: 114px;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  border: 1px solid red
}

.box .signup-button {
  position: absolute;
  width: 100%;
  max-width: 418px;
  height: 114px;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  border: 1px solid red
}

.box .overlap-2 {
  position: relative;
  width: 100%;
  max-width: 416px;
  height: 114px;
  background-color: #777f81;
  border-radius: 209px;
  border: 1px solid;
  border-color: #bfcacd;
}

.box .button-text {
  position: absolute;
  width: 100%;
  max-width: 154px;
  height: 44px;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  position: relative;
}


/* main style end */

/* footer Style */
.box .footer {
  position: fixed;
  width: 100%;
  height: 412px;
  bottom: 0;
  left: 0;
  background: url('/app/Front/img/footerwave.svg') no-repeat center bottom;
  background-size: cover;

}

.box .footer_wave {
  position: relative;
  width: 100%;
  height: 100%;
  
  display: flex;
  justify-content: center;
  text-align: center;
}

.box .text-wrapper {
  position: absolute;
  top: 70%;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #3e3a3a;
  font-size: 40px;
  white-space: nowrap;
}

