/*사이드바.css*/
.sidebar {
  position: fixed;
  right: -450px;
  width: 350px;
  height: 100%;
  bottom: 0;
  background-color: #CADBCE;
  
  z-index: 3;
  border: 1px solid red;
}
.sidebar.active {
  right: 0;
}
.sidebar .sidebar_header {
  border: 1px solid red;
  height: 70px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 350px);
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 2;
  transition: all 0.4s ease;
}
.overlay.active {
  display: block;
  right: 350px; 
}

/* 버튼 css 초기화 */
button {
  all: unset;
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}
