/*사이드바.css*/
.sidebar {
  position: fixed;
  top: 70px;
  right: -450px;
  width: 450px;
  height: 100%;
  background-color: #333;
  transition: all 0.3s ease;
}
.sidebar.active {
  right: 0;
}
/*사이드바.css*/

/* 버튼 css 초기화 */
button {
  all : unset;
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}