@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
/*캐비엇 폰트*/
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap");
/*캘리그라피 폰트*/
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap");
/*비터 폰트*/

/* 폰트 모음 */
.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.calligraffitti-regular {
  font-family: "Calligraffitti", cursive;
  font-weight: 400;
  font-style: normal;
}

.bitter {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* 폰트 모음 */
.box {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  height: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;
  background-color: #f1f5f2;
  
}
/*head style css*/
.box .headbar {
  position: absolute;
  width: 100%;
  height: 70px;
  top: 0;
  background-color: #d9d9d9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.box .home_button {
  position: absolute;
  height: 47px;
  left: 20px;
  font-family: "Calligraffitti", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  text-align: center;
}

.box .imgicon {
  position: absolute;
  width: 61px;
  height: 61px;
  right: 20px;
  background-blend-mode: hard-light;
  object-fit: cover;
}


/*head style css*/

/*main style css*/
/*header쪽 date */
.box .main {
  position: relative;
  width:calc(100% - 15%);
  top: 70px; 
  height: calc(100% - 70px); 
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f1f5f2;
}

.box .header_dates {
  position: relative;
  width:100%;
  height: 20px;
  margin-top: 10%;  display: flex;
  font-family: "Calligraffitti", cursive;
  align-items: center;
  
}

.box .header_month_num {
  position: relative;
  left: 0;
  color: #3d3a3a;
  font-size: 12vh;
  position: absolute;
}

.box .header_month_string {
  position: relative;
  left: 10%;
  color: #6f6767;
  font-size: 10vh;
}

.box .header_year {
  position: absolute;
  right: 0;
  color: #6e666699;
  font-size: 10vh;

}
/*header쪽 date end*/

/* months start */
.box .months {
  position: relative;
  width: 100%;
  top: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 3vw;
}

.box .months button, .box .months p {
  text-align: center;
  font-family: "Bitter", serif;
  font-size: 40px;
  color: #000060;
}
.prev_img, .next_img {
  width: 40px;
  left: 0; 
  background-size: cover;
}

.prev_img {
  transform: scaleX(-1);
}
/* months end */

/*calendar 관련 스타일들*/

.box .calendar {
  position: relative;
  width:100%;
  
  margin-top: 100px;
  background-color: #cfe1e5;
  border-radius: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
}

/* days start */
.box .days {
  position: relative;
  width: 100%;
  height: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;  
  border: 1px solid red;
}



/* weeks start */
.box .weeks {
  width: 100%; 
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bitter", serif;
  font-size: 1.3rem;
}

.calendar ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}

.calendar ul li {
  position: relative;
  width: calc(100% / 7);  
}

.calendar .days li {
  position: relative;
  
  cursor: pointer;
  font-size: 1.3rem;
  font-family: "Bitter", serif;
}
.days li.inactive {
  color: #aaa;
}

.days li.active {
  color: #fff;
}

.calendar .days li::before {
  position: absolute;
  content: '';
  width: calc(100%);
  max-width: 130px;
  top: 50%;
  left: 50%;
  background-color: #d6e5cf;
  border-radius: 65px/52.61px;
  z-index: -1;
  transition: transform 0.3s ease; 
  transform: translate(-50%, -50%) scale(1); 
  overflow: hidden;
  
}

.days li:hover::before {
  background: #f2f2f2;
  transform: translate(-50%, -50%) scale(1.2);
  content: '';
  visibility: visible; 
}
.days li:hover {
  visibility: hidden; 
}

.days li.active::before {
  background: #669152;
}

/*calendar 관련 스타일 끝*/
/*main style css end*/
