@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap");

/* 폰트 모음 */
.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.calligraffitti-regular {
  font-family: "Calligraffitti", cursive;
  font-weight: 400;
  font-style: normal;
}

.bitter {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* 폰트 모음 */

.box {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  max-width: 1920px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  background-color: #f1f5f2;
}
/*header style css*/
.box .headbar {
  width: 100%;
  height: 70px;
  top: 0;
  background-color: #d9d9d9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.box .home_button {
  position: absolute;
  left: 20px;
  font-family: "Calligraffitti", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  text-align: center;
}

.box .imgicon {
  position: absolute;
  width: 61px;
  right: 20px;
  background-blend-mode: hard-light;
  object-fit: cover;
}
/*header style css*/

/*main style css*/
.box .main {
  position: relative;
  width: calc(100% - 15%);
  height: 100%;
  
  align-items: center;
  text-align: center;
  background-color: #f1f5f2;
  flex-direction: column;
  display: flex;
}

.box .header_dates {
  position: relative;
  width: 100%;
  display: flex;
  font-family: "Calligraffitti", cursive;
  align-items: center;
  margin-top: 40px; 
}

.box .header_month_num {
  position: relative;
  left: 0;
  color: #3d3a3a;
  font-size: 12vh;
  position: absolute;
}

.box .header_month_string {
  position: relative;
  left: 10%;
  color: #6f6767;
  font-size: 10vh;
}

.box .header_year {
  position: absolute;
  right: 0;
  color: #6e666699;
  font-size: 10vh;
}

/* months start */
.box .months {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 40px; 
  font-size: 3vw;
}

.box .months button, .box .months p {
  text-align: center;
  font-family: "Bitter", serif;
  font-size: 40px;
  color: #000060;
}

.prev_img, .next_img {
  width: 40px;
  left: 0; 
  background-size: cover;
}

.prev_img {
  transform: scaleX(-1);
}
/* months end */

/*calendar 관련 스타일들*/
.box .calendar {
  position: relative;
  width: 100%;
  height: auto;
  flex-grow: 1;
  background-color: #cfe1e5;
  border-radius: 50px;
  margin: 20px 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

/* days start */
.box .days {
  position: relative;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* weeks start */
.box .weeks {
  width: 100%; 
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bitter", serif;
  font-size: 1.3rem;
}

.calendar ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
  padding: 0;
}

.calendar ul li {
  position: relative;
  width: calc(100% / 7);  
}

.calendar .days li {
  position: relative;
  cursor: pointer;
  font-size: 1.3rem;
  font-family: "Bitter", serif;
  padding: 10px 0;
  z-index: 1;
}

.days li.inactive {
  color: #aaa;
}

.days li.active {
  color: #fff;
}

.calendar .days li::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  max-width: 130px;
  max-height: 130px;
  top: 50%;
  left: 50%;
  background-color: #d6e5cf;
  border-radius: 50%;
  transition: transform 0.3s ease; 
  transform: translate(-50%, -50%) scale(1); 
  z-index: -1;
}

.days li:hover::before {
  background: #f2f2f2;
  transform: translate(-50%, -50%) scale(1.2);
}

.days li.active::before {
  background: #669152;
}
