@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
/*캐비엇 폰트*/
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap");
/*캘리그라피 폰트*/
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap");
/*비터 폰트*/

/* 폰트 모음 */
.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.calligraffitti-regular {
  font-family: "Calligraffitti", cursive;
  font-weight: 400;
  font-style: normal;
}

.bitter {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* 폰트 모음 */

.box {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f5f2;
  position: relative;
  overflow: hidden;
}

.box .main {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f1f5f2;
  border: 1px solid red;
}

.box .headbar {
  position: absolute;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.box .div {
  position: absolute;
  width: 130px;
  height: 105px;
  top: 551px;
  left: 205px;
  background-color: #d6e5cf;
}

/* 공통된 스타일 분리 */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box-shadow {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.text-standard {
  font-family: "Calligraffitti", Helvetica;
  font-weight: 400;
  color: #000000;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.text-large {
  font-size: 50px;
}

.text-medium {
  font-size: 24px;
}

/*calendar 관련 스타일들*/
.box .calendar {
  position: absolute;
  width: calc(100% - 210px);
  bottom: 15px;
  top: 325px;
  background-color: #cfe1e5;
  border-radius: 54px;
  border: 2px solid #000000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.prev_img, .next_img {
  width: 30px; 
  background-size: cover;
}

.prev_img {
  transform: scaleX(-1);
}
.calendar ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}

.calendar ul li {
  width: calc(100% / 7);
  position: relative;
}

.calendar .days li {
  z-index: 1;
  cursor: pointer;
  
}
.days li.inactive {
  color: #aaa;
}

.days li.active {
  color: #fff;
}

.calendar .days li::before {
  position: absolute;
  content: '';
  height: 40px;
  width: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
  
}

.days li:hover::before {
  background: #f2f2f2;
}

.days li.active::before {
  background: #008aff;
}
/*calendar 관련 스타일 끝*/

/* days start */
.box .days {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box .days div {
  width: 130px;
  height: 105px;
  flex: 1;
  background-color: #d6e5cf;
  border-radius: 65px/52.61px;
  border: 1px solid #b6c4af;
}

/* weeks start */
.box .weeks {
  width: 100%; 
  height: 37px;
  margin-top: 30px;
  display: flex;
  
  align-items: center;
  justify-content: center; 
}

/* .box .weeks div {
  flex: 1;
  font-family: "Calligraffitti", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 2.5vw;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
} */

/* months start */
.box .months {
  position: absolute;
  width: 100%;
  height: 54px;
  top: 245px;
  left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.box .months div {
  font-size: 3vw;
}
.box .months button, .box .months p {
  flex: 1; 
  text-align: center;
  
}



/*header쪽 date */
.box .header_dates {
  position: absolute;
  font-family: "Calligraffitti", cursive;
  width: calc(100% - 20px);
  height: 54px;
  top: 150px;
  left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box .header_month_num {
  left: 5%;
  color: #3d3a3a;
  font-size: 8vw;
  position: absolute;
}

.box .header_year {
  right: 5%;
  color: #6e666699;
  font-size: 5vw;
  position: absolute;
}

.box .header_month_string {
  position: absolute;
  left: calc(5% + 130px);
  color: #6f6767;
  font-size: 5vw;
}

/* 기타 */
.box .imgicon {
  position: absolute;
  width: 61px;
  height: 61px;
  top: 10px;
  right: 20px;
  background-blend-mode: hard-light;
  object-fit: cover;
}

.box .home_button {
  position: absolute;
  height: 47px;
  top: 16px;
  left: 20px;
  font-family: "Calligraffitti", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  text-align: center;
}